.cardDiv {
    margin: 15px;
    float: left;
    height: 400px !important;
}

.CardBodyClass {
  height: 140px;
}

.detailsClass {
  font-weight: bold;}

.priceClass {
  float: left;
}

.followersClass {
  float: right;
  color: #1890ff;
}

.datesClass {
  margin-top: 5px;
}

.editButtonClass {
  margin: 10px;
}

.descriptionClass {
  height: 80px;
}

.cardImageClass {
  height: 199px;
  width: 300px;
}

.separationSpan {
  margin: 5px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  /* padding: 1rem; */
}

.cardDiv {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}