
.cardDiv {
    margin: 20px;
    float: left;
}

.CardBodyClass {
  height: 150px;
}

.detailsClass {
  font-weight: bold;}

.priceClass {
  float: left;
}

.followersClass {
  float: right;
  color: #1890ff;
}

.datesClass {
    margin-top: 5px;
}

.editButtonClass {
    margin: 5px;
}