.layout {
    margin:0;
    padding:0;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 50px auto 25px;
}

.layout>header {
    grid-column: span 12;
    align-items: left;
    background-color: #71A9F7;
}

.layout>main {
    grid-column: span 12;
    background: #fff;

}

.layout>footer {
    grid-column: span 12;
    left: 0;
    bottom: 0;
    background-color: #71A9F7;
    width: 100%;
}

